# X (Twitter) API Credentials
# Get these from https://console.x.com > Apps > Your App > Keys and Tokens
TWITTER_CONSUMER_KEY=your_consumer_key_here
TWITTER_CONSUMER_SECRET=your_consumer_secret_here
TWITTER_BEARER_TOKEN=your_bearer_token_here
TWITTER_ACCESS_TOKEN=your_access_token_here
TWITTER_ACCESS_TOKEN_SECRET=your_access_token_secret_here
TWITTER_OAUTH2_CLIENT_ID=your_oauth2_client_id_here
TWITTER_OAUTH2_CLIENT_SECRET=your_oauth2_client_secret_here

# Meta (Facebook + Instagram) API Credentials
# Get these from https://developers.facebook.com > Your App
# 1. Create a Business type app at developers.facebook.com
# 2. Add Facebook Login and Instagram Graph API products
# 3. Get a Page Access Token (long-lived) via Graph API Explorer
# 4. Connect your Instagram Business account to your Facebook Page
META_APP_ID=your_meta_app_id_here
META_APP_SECRET=your_meta_app_secret_here
META_PAGE_ACCESS_TOKEN=your_long_lived_page_access_token_here
META_PAGE_ID=your_facebook_page_id_here
META_INSTAGRAM_ACCOUNT_ID=your_instagram_business_account_id_here
